.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

body {
  margin: 0;
  font-family: Arial, sans-serif;
}

.App-header {
  background-color: #add8e6;
  color: #000;
  padding: 16px;
  text-align: center;
}

body {
  background-color: #f0f0f0; /* Light gray background */
}

.MuiAppBar-root {
  background-color: #004d40; /* Deep teal for app bar */
}

.MuiButton-containedPrimary {
  background-color: #00796b; /* Rich green for buttons */
}

.MuiTypography-root {
  color: #212121; /* Dark text color */
}

/* Custom CSS for the Drawer */
.MuiDrawer-paper {
  width: 250px; /* Set the width of the side menu */
  background-color: #004d40; /* Deep teal for drawer background */
}

.MuiListItemText-primary {
  color: #ffffff; /* White text for list items */
}

.MuiListItem-button:hover {
  background-color: #00796b; /* Highlight color on hover */
}

.MuiListItem-button {
  padding: 16px; /* Adjust padding for list items */
}
/* styles.css */
@media (max-width: 768px) {
  .MuiBox-root {
    width: 100% !important;
    height: auto !important;
  }
  .MuiTextField-root {
    margin: 8px 0 !important;
  }
}
